.mini-palette-container {
  background-color: white;
  border-radius: 5px;
  border: 1px solid black;
  padding: 0.5rem;
  position: relative;
  overflow: hidden;
  &:hover {
    cursor: pointer;
  }
}

.mini-palette-colors {
  background-color: $light-grey;
  height: 150px;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
}

.mini-palette-title {
  display: flex;
  justify-content: space-between;
  margin: 0;
  align-items: center;
  padding-top: 0.5rem;
  font-size: 0.8rem;
  position: relative;
}

.mini-palette-emoji {
  margin-left: 0.5rem;
  font-size: 1.5rem;
}

.mini-palette-color-box {
  height: 25%;
  width: 20%;
  display: inline-block;
  margin: 0 auto;
  position: relative;
  margin-bottom: -4px;
}
